 start the programming by importing essential libraries

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

Importing of the dataset

In [5]:
data = pd.read_csv('Social_Network_Ads.csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

 droping the unwanted columns

In [6]:
data.drop(['User ID'],axis=1)

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

slicing it into independent and dependent variables

In [8]:
X = data.iloc[:, [1, 2, 3]].values
y = data.iloc[:, -1].values

dataset containing character variables we have to encode it using LabelEncoder

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,0] = le.fit_transform(X[:,0])

performing a train test split on the dataset.providing the test size as 0.20, that means training sample contains 320 training set and test sample contains 80 test set

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

Next,doing feature scaling to the training and test set of independent variables for reducing the size to smaller values

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Now have to create and train the K Nearest Neighbor model with the training set

In [12]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'euclidean', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean')

Model is created, now we have to predict the output for the test set

In [15]:
y_pred = classifier.predict(X_test)

Comparing true and predicted value :

In [16]:
print(y_test)

[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 1
 0 0 0 0 1 1]

In [17]:
print(y_pred)

[0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 1 1 1 0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 1
 0 0 0 0 1 1]

evaluate our model using the confusion matrix and accuracy score by comparing the predicted and actual test values

In [18]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
ac = accuracy_score(y_test,y_pred)

confusion matrix –

In [19]:
print(cm)

[[55  3]
 [ 1 21]]

In [20]:
print(ac)
print(ac*100)

0.95
95.0

# Inference

In this program i have taken Social_Network_Ads.csv dataset for predict the value using KNN algorithm .

Here i got 95 % accuracy and confusion matrix also calculated for this dataset.